.generate-container {
  background-color: #260026;
  height: 100vh;
  position: relative;
}

.generate {
  padding: 10px;
}
.heading {
  margin-top: 70px;
  margin-bottom: 70px;
  color: white;
  text-align: center;
}
.heading span {
  color: #d43b84;
}

.bowl {
  left: 35px;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  background: linear-gradient(304deg, #00ff8f, #00a1ff, #d43b84, #ffff00);
  -webkit-animation: Bowlanimation 0s ease infinite;
  animation: Bowlanimation 0s ease infinite;
}

@-webkit-keyframes Bowlanimation {
  0% {
    background-position: 67% 0%;
  }
  50% {
    background-position: 34% 100%;
  }
  100% {
    background-position: 67% 0%;
  }
}
@keyframes Bowlanimation {
  0% {
    background-position: 67% 0%;
  }
  50% {
    background-position: 34% 100%;
  }
  100% {
    background-position: 67% 0%;
  }
}

.next {
  background-color: #d43b84;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
}
.step-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
}
.bowl {
  margin-top: 50px;
}
