.generate-container {
  background-color: #260026;
  height: 100vh;
  position: relative;
}

.generate {
  padding: 10px;
}
.heading {
  margin-top: 70px;
  margin-bottom: 70px;
  color: white;
  text-align: center;
}
.heading span {
  color: #d43b84;
}

.bowl {
  left: 35px;
  background: lightgrey;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  /* box-shadow: 0 10px 2px -10px #2e6789, 35px 90px 210px 2px #36779d,
    45px 65px 50px -35px #36779d; */

  /* animation: identifier 0.5s infinite; */
}

.bowl::after {
  background-image: radial-gradient(
    circle at 38% 40%,
    #00ff8f,
    #00a1ff,
    #d43b84,
    #ffff00
  );
  content: "";
  width: 370px;
  height: 370px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
}

.next {
  background-color: #d43b84;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
}
.step-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
}
.bowl {
  margin-top: 50px;
}
.next-button {
  position: absolute;
  left: 170px;
  bottom: 100px;
}

/* @keyframes identifier {
  100% {
    transform: rotate(360deg);
  }
} */
